body{
    background-color: #282C39;
    background-size: auto;
    background-position: 0 1%;
    background-repeat: no-repeat;
    color: white;
    .hidden-letter{
        display: inline-block;
        width: 20px;
        margin: 5px;
        font-size: 24px;
    }
    .guessed-letters{
        margin-top: 20px;
    }
}